.header {
  min-height: 500px;
  position: relative;
  padding: 20px 0;
  background: url("../../img/main_bg.jpg") no-repeat (50%/cover);


  &__inner {
    min-height: 460px;
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 67%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;

  }

  &__title {
    z-index: 1;
    position: relative;
    color: #fff;
    margin-bottom: 20px;
    @include before_oval;
  }

  &__subtitle {
    color: #fff;
    width: 360px;
    margin-bottom: 25px;
  }

  &__btn {
    a {
      padding: 10px 30px;
      background: $main-color;
      color: #000;
      width: 240px;
      text-align: center;
      cursor: pointer;
      font-weight: 700;
      border-radius: 8px;
      transition: .5s all;

      &:hover {
        box-shadow: 0 0 20px $main-color;

      }
    }
  }

}






















