.panel {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 237px;
  left: -80px;
  width: 300px;
  z-index: 1;
  transform: rotate(-90deg);

  &__divider {
    width: 50px;
    height: 2px;
    background: #000;
  }

  &__social {

    img {
  transition: 1s all;
      &:hover {
        transform: rotate(90deg);
      }
    }
  }

}









































